@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*AdminSide*/
.sidebar{
  position: fixed;
  top: 0;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;

}

.sidebar.active{
  width: 60px;
}

.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}

.sidebar .logo-details img{
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50%;
  margin-left: 10px;
}

.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-left: 40px;
}
.sidebar .nav-link{
  margin-top: 10px;
}
.sidebar .nav-link li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-link li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-link li a.active{
  background: #081D45;
}
.sidebar .nav-link li a:hover{
  background: #081D45;
}
.sidebar .nav-link li i{
  min-width: 60px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  /* padding-left: 30px; */
}

.sidebar .nav-link li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  /* padding-left: 30px; */
  white-space: nowrap;
}

.sidebar .nav-link .log_out{
  position: absolute;
  /* bottom: 0; */
  width: 100%;
}

.sidebar .nav-link .log_out i{
  min-width: 60px;
  text-align: center;
  font-size: 20px;
  color: red;
}


.nav-link .btn {
  margin-left: -12px;
  border: none!important;
}

.logout {
  color: red;
  font-size: 15px;
  font-weight: 400;
  /* padding-left: 30px; */
  white-space: nowrap;
}

/*homeadmin*/
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section .nav-sec{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section .nav-sec{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section .nav-sec .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.nav-sec .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}

.home-section .nav-sec .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
.nav-sec .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
.nav-sec .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section .nav-sec .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
.nav-sec .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
.nav-sec .profile-details .admin_name{
  font-size: 15px;
  font-weight: 400;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
  padding-left: 15px;
}

.home-section .home-content{
  position: relative;
  padding-top: 104px;
}

.tabledata{
  padding-top: 8rem;
}


/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section .nav-sec{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section .nav-sec{
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }

  
}
@media (max-width: 700px) {
  .nav-sec .profile-details .admin_name,
  .nav-sec .profile-details i{
    /* display: none; */
    font-size: 10px;
    padding-left: 0;
  }

  .home-section .nav-sec .profile-details{
    max-width: 175px;
    padding: 0;
  }

  .nav-sec .sidebar-button .dashboard{
    font-size: medium;
  }

  div .pt-5 .btn{
    font-size: 12px;
  }

  .home-section .nav-sec .profile-details{
    height: 50px;
    min-width: 40px;
  }
}


@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section .nav-sec .profile-details{
    display: none;
  }
}
  @media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section .nav-sec{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section .nav-sec{
    left: 60px;
    width: calc(100% - 60px);
  }
}

 .page .nav-sec{
    min-height: 15vh;
    /* width: 150px; */
    /* justify-content: center; */
    background-color: transparent!important;
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
  }