.container .cardmtr {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
}

.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/image/materi/bahasa.jpg);
  background-size: cover;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  overflow: hidden;
}

.container .card1 .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/image/materi/math.jpg);
  background-size: cover;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  overflow: hidden;
}

.container .card2 .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/image/materi/biologi.jpg);
  background-size: cover;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  overflow: hidden;
}

.container .card3 .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/image/materi/fisika.jpg);
  background-size: cover;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  overflow: hidden;
}

.container .card4 .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/image/materi/kimia.jpg);
  background-size: cover;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  overflow: hidden;
}

.container .card .box:hover {
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}

.container .card .box .content {
  padding: 20px;
  text-align: center;
}

.container .card .box .content h3 {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Philosopher', sans-serif;
  color: black;
  transition: 0.5s;
}
.container .card .box .content p {
  font-size: 16px;
  font-weight: 700;
  color: black;
  transition: 0.5s;
}
.container .card:hover .box .content h3,
.container .card:hover .box .content p {
  color: whitesmoke;
  text-shadow:  -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #e91e63;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 400;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}